body {
    font-family: 'Roboto', serif;
    font-size: 19px;
    background-color: rgb(255,255,255);
  }

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
}

.left {
    left: 0;
}

.left .petit {
    padding-top: 10px;
    width: 60%;
    height: 99%;
    background-color: antiquewhite;
    text-align: center;
}

.right {
    right: 0;
    width: 65%;
    text-align: center;

}

.nbterms {
    display: inline;
    font-style: italic;
}